<%- include('../../public/header.ejs') %>

<h1 class="text-center">Resehistorik</h1>

<main>
<% if (trips && trips.length > 0) { %>
    <table class="table table-light table-striped">
        <thead>
            <tr>
                <th>Trip ID</th>
                <th>Cykel ID</th>
                <th>Start tid</th>
                <th>Slut tid</th>
                <th>Kostnad</th>
            </tr>
        </thead>
        <tbody>
            <% trips.forEach(trip => { %>
                <tr>
                    <td><%= trip.trip_id %></td>
                    <td><%= trip.bike_id %></td>
                    <td><%= new Date(trip.start_time).toLocaleString('sv-SE', { dateStyle: 'short', timeStyle: 'short' }) %></td>
                    <td><%= new Date(trip.end_time).toLocaleString('sv-SE', { dateStyle: 'short', timeStyle: 'short' }) %></td>
                    <td><%= trip.total_price %> kr</td>
                </tr>
            <% }); %>
        </tbody>
    </table>
<% } else { %>
    <p class="text-center">Det finns inga loggar att visa.</p>
<% } %>
</main>

<%- include('../../public/footer.ejs') %>
