<%- include('../../public/header.ejs') %>

<h1 class="text-center">Resehistorik för <%= login %></h1>

<% if (trips && trips.length > 0) { %>
    <table class="table table-light table-striped">
        <thead>
            <tr>
                <th>Tid</th>
                <th>Händelse</th>
            </tr>
        </thead>
        <tbody>
            <% trips.forEach(trip => { %>
                <tr>
                    <td><%= trip.log_time %></td>
                    <td><%= trip.log_data %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
<% } else { %>
    <p class="text-center">Det finns inga loggar att visa.</p>
<% } %>

<%- include('../../public/footer.ejs') %>
