<%- include('../../public/header.ejs') %>
<main>
    <div class="booking-container">
        <p>Cykel: <%= id %></p>
        <p>Tillgänglig: <%= Boolean(bike.bike_status) ? "Ja" : "Nej" %></p>
        
        <% if (Boolean(bike.bike_status)) { %>
            <form action="/book/confirm/<%= id %>" method="POST">
                <input class="booking-button btn btn-success" type="submit" value="Boka Cykel">
            </form>
        <% } else { %>
            <form action="/book/return/<%= id %>" method="POST">
                <input class="booking-button btn btn-danger" type="submit" value="Återlämna Cykel">
            </form>
        <% } %>
    </div>
</main>
<%- include('../../public/footer.ejs') %>
