<%- include('../../public/header.ejs') %>
<main>
    <form action="/book/confirm/<%= id %>" method="POST">
        <h1 class="text-center">Bokningsinfomartion</h1>
        <div class="booking-container">
            <% if (Boolean(bike.bike_status)) { %>
                <p>Cykel: <%= id %></p>
                <p>Tillg채nglig: <%= Boolean(bike.bike_status) ? "Ja" : "Nej" %></p>
                <input class="booking-button btn btn-success" type="submit" value="Boka Cykel">
            <% } else { %>
                <p>Cykel: <%= id %></p>
                <p>Tillg채nglig: <%= Boolean(bike.bike_status) ? "Ja" : "Nej" %></p>
                <p class="text-danger">Cykeln 채r inte tillg채nglig</p>
            <% } %>
        </div>
    </form>
</main>
<%- include('../../public/footer.ejs') %>
