<%- include('../../public/admin-overview-header.ejs') %>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-8">
            <form class="d-flex mb-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <select class="form-select mb-3" aria-label="">
                <option selected>Select city</option>
                <option value="1">Karlskrona</option>
                <option value="2">Stockholm</option>
                <option value="3">Göteborg</option>
                <option value="4">Malmö</option>
            </select>
            <div class="table">
                <table class="table" style="max-width: 100%;">
                    <thead>
                        <th scope="col">Bike ID</th>
                        <th scope="col">GPS</th>
                        <th scope="col">Battery</th>
                        <th scope="col">City</th>
                        <th scope="col">Current User</th>
                    </thead>
                    <% for (const row of bikes) { %>
                        <tr>
                            <td><%= row.id %></td>
                            <td><%= row.gps %></td>
                            <td><%= row.battery %></td>
                            <td><%= row.city %></td>
                            <td><%= row.currentuser %></td>
                        </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </div>
</div> 